<html>
<head>
    <title>$generalUtil.htmlEncode($pageTitle)</title>
</head>

#applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode"  "tree-view-management")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("infopanel-width" "200px")

	<body>
	
	## get the tree-view pages from the calling action class
	#set($pages = $action.getTreeViews())
	
	## the table form used by the other profile pages
	<table id="tree-views" class="aui tableview condensed">
	<thead>
		<tr>
		<th colspan="2">$action.getText("de.edrup.confluence.plugins.tree-view.tree.watches.list.title")</th>
    	</tr>
    </thead>
    
    ## loop through all pages
	#foreach($page in $pages)
		<tr>
			## page title and link to it
			<td>
				<a href="
				$req.contextPath
				$page.getUrlPath()
				">
				$page.getTitle()
				</a>
			</td>
			
			## link to un-watch the tree
			<td style="text-align: right;">
				<a href="
				$req.contextPath
				/pages/unwatch-tree-man.action?pageId=
				$page.getIdAsString()&caller=profile
				">
				$action.getText("de.edrup.confluence.plugins.tree-view.unwatch.tree.link.text")
				</a>
			</td>
		</tr>
	#end
	</table>
   	</body>
#end
</html>